replicaCount: 1

image:
  repository: ml-template-api
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1024Mi

env:
  modelName: "CHANGE_ME_MODEL_NAME"
  modelAlias: "prod"
  logLevel: "INFO"
  logFormat: "json"
  appEnv: "k8s"
  loadModelOnStartup: "true"

secrets:
  # Use an existing Secret (recommended; e.g., created by ExternalSecrets).
  # The Secret must contain key `MLFLOW_TRACKING_URI` by default.
  existingSecret: "ml-api-secrets"
  trackingUriKey: "MLFLOW_TRACKING_URI"

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
